/* sidebar at the bottom, items aligned on horizontal,*/
@media screen and (min-width: 0px) and (max-width: 765px ) {
  body {
    background: url(../img/colorsmall.png) center center, #fdf5e6;
    background-size: cover;
    background-attachment: fixed;
  }
  .outsidecontainer {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    width: 100%;
    order: 1;
  }
  .sidebar {
    width: 100%;
    order: 2;
    align-content: space-around;
    vertical-align: top;
  }
  .part1, .part2 {
    display: inline-block;
  }
  .headerTitle {
    font-size: 1.7em;
  }
  .status,.hello, .portofolioTitle {
    font-size: 1em;
  }
}

@media screen and (min-width: 530px) {
  body {
    background: url(../img/colormedium.png) center center, #fdf5e6;
    background-size: cover;
    background-attachment: fixed;
  }

@media screen and (min-width: 766px) {
  body {
    background: url(../img/colorlarge.jpg) center center, #fdf5e6;
    background-size: cover;
    background-attachment: fixed;
  }
  .header {
    height: 140px;
  }
  .headerInner {
    height: 138px;
  }
  .sidebar {
    width: 25%;
  }
  .container {
    width: 75%
  }
}

@media screen and (min-width: 840px) {
  .status, .sidebarTitle,
  .hello, .portofolioTitle {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1150px) {
  .sidebar {
    width: 20%;
  }
  .container {
    width: 80%;
  }
  .portofolio {
    display: grid;
    grid-template-columns: auto auto;
  }
  .portofolioTitle {
    grid-column: 1 / span 2;
  }
}
